@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes ripple {
  0% {
    transform: scale(0.6);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
@keyframes orbit {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.gap-screen{
  @media (max-width: 1300px) {
  gap: 100px;
  }
  @media (max-width: 1250px) {
  gap: 80px;
}
  @media (max-width: 1200px) {
  gap: 60px;
}
}

.apply-button{
  @media (max-width:640px) {
    padding: 0 30px ;
  }
}

#diamond {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: red;
  position: relative;
  top: -50px;
}
#diamond:after {
  content: '';
  position: absolute;
  left: -50px;
  top: 50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: red;
}
.hover-reveal {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(24px);
  transition: 
    max-height 0.5s ease-out,
    opacity 0.4s ease-out,
    transform 0.5s ease-out;
}

.group:hover .hover-reveal {
  max-height: 200px; /* enough for text */
  opacity: 1;
  transform: translateY(0);
}


.font-size{

  @media (min-width:1220px) and (max-width:1325px) {
    font-size: 5rem;
  }
    @media (min-width:1150px) and (max-width:1220px) {
    font-size: 4.5rem;
  }
      @media (min-width:1080px) and (max-width:1150px) {
    font-size: 4rem;
  }
        @media (min-width:1024px) and (max-width:1080px) {
    font-size: 3.5rem;
  }
}