@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes ripple {
  0% {
    transform: scale(0.6);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
@keyframes orbit {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.gap-screen{
  @media (max-width: 1300px) {
  gap: 100px;
  }
  @media (max-width: 1250px) {
  gap: 80px;
}
  @media (max-width: 1200px) {
  gap: 60px;
}
}

.apply-button{
  @media (max-width:640px) {
    padding: 0 30px ;
  }
}

#diamond {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: red;
  position: relative;
  top: -50px;
}
#diamond:after {
  content: '';
  position: absolute;
  left: -50px;
  top: 50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: red;
}